body{
    margin: 0;
    padding:0;
    font-family: sans-serif;
}
.cartdetails{
    width: 100%;
    height: 550px;
    margin: 100px 0%;
}
.cartitems{
    float: left;
    width: 60%;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid rgba(0, 0, 0, 0.185);
    margin-left: 5%;
}

.cartdetails .cartitems .cartitemsheader{
    width: 100%;
    height: 50px;
    padding-left: 5%;
}
.cartdetails .cartitems .cartitemsheader fcol{
    float: left;
    width: 30%;
    height: 100%;
}
.cartdetails .cartitems .cartitemsheader scol{
    float: left;
    width: 20%;
    height: 100%;
}
.cartdetails .cartitems .cartitemsheader tcol{
    float: left;
    width: 24%;
    height: 100%;
}
.cartdetails .cartitems .cartitemsheader focol{
    float: left;
    width: 20%;
    height: 100%;
}

.cartdetails .cartitems .item {
    padding-left: 5%;
     height: 150px;
    border-top: 1px solid rgba(0, 0, 0, 0.185);

}

.cartdetails .cartitems .item fcol{
    float: left;
    width: 30%;
    height: 100%;
}
.cartdetails .cartitems .item scol{
    float: left;
    width: 20%;
    height: 100%;
}
.cartdetails .cartitems .item tcol{
    float: left;
    width: 24%;
    height: 100%;
}
.cartdetails .cartitems .item focol{
    float: left;
    width: 20%;
    height: 100%;
}

.cartdetails .cartitems .item fcol .left{
    width: 30%;
    height: 100%;
    float: left;
}
.cartdetails .cartitems .item fcol .right{
    width: 59%;
    height: 100%;
    float: left;
}
.cartdetails .cartitems .item fcol .left img{
    width: 100%;
    height: 60%;
    margin-top: 40%;
}
.cartdetails .cartitems .item fcol .right p{
    margin-top: 50%;
    margin-left: 10%;
}
.cartdetails .cartitems .item scol input{
    margin-top: 35%;
    width: 80%;
    border: none;
    color: black;
    font-size: large;
    float: left;
    margin-left: -2%;
} 
.cartdetails .cartitems .item scol span{
    float: left;
    width: 10%;
    margin-top: 48%;

}
.cartdetails .cartitems .item tcol .quantityadjust{
    height: 30%;
    border: 1px solid rgba(0, 0, 0, 0.185);
    margin-top: 30%;
}
.cartdetails .cartitems .item tcol .quantityadjust div{
    float: left;
    width: 33.3%;
    height: 100%;
    text-align: center;
    font-size: larger;
    
}
.cartdetails .cartitems .item tcol .quantityadjust div p{
    margin-top: 25%;
}
.cartdetails .cartitems .item tcol .quantityadjust .left{
    background-color: white;
    transition: 0.5s;
}
.cartdetails .cartitems .item tcol .quantityadjust .left:hover{
    background-color: rgb(93, 93, 141);
    color: white;
    cursor: pointer;
}

.cartdetails .cartitems .item tcol .quantityadjust .right{
    background-color: white;
    transition: 0.5s;
}
.cartdetails .cartitems .item tcol .quantityadjust .right:hover{
    background-color: rgb(93, 93, 141);
    color: white;
    cursor: pointer;
}
.cartdetails .cartitems .item tcol .quantityadjust .quantity input{
    background-color: rgb(236, 235, 235);
    border: none;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: larger;
}
.cartdetails .cartitems .item focol div{
    margin-top: 48%;
    margin-left: 20%;
}

.carttotals{
    float: right;
    margin-right: 5%;
    width: 25%;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.185);
    padding: 20px;
}
.carttotals header{
    font-size: x-large;
    font-weight: bold;
}
.carttotals #endtotal{
    font-size: large;
    width: 50%;
    height: 10%;
    border: none;
}
.carttotals #endsubtotal{
    font-size: large;
    width: 50%;
    height: 10%;
    border: none;
}
.carttotals hr{
    width: 90%;
    background-color: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.185);
}
.carttotals div{
    width: 100%;
}
.carttotals .left p{
    float: left;
    width: 30%;
}
.carttotals .right{
    float: left;
    width: 55%;
}
.carttotals .right p{
    color: rgb(104, 104, 104);
    font-size: 15px;
    line-height: 1.5em;
}
.carttotals .right h4{
    font-weight: normal;
}
.carttotals .right select,input{
    width:100%;
    height: 3em;
    border: 1px solid rgba(0, 0, 0, 0.185);
    margin-bottom: 10px;
}
.carttotals .totalp{
    font-size: x-large;
    color: rgb(65, 65, 65);
}
